
      #workspace {
          width: 960px ;
          margin-right: auto;
          margin-left: auto;
          padding-left: 30 px;
          overflow: hidden;
          border-bottom: 2px solid black;
      }
      #footer {
          width: 960px ;
          margin-right: auto;
          margin-left: auto;
          padding-left: 30 px;
          overflow: hidden;
      }

      #lcolumn {
          float: left;
          width: 365px;
      } 

      #rcolumn {
          margin-left: 365px;
          width: 300px;
      }

      #multiline {
          color: black;
          font-weight: bold;
          margin-left: 5px;
          margin-right: 5px;
          padding: 5px; 
      }

      #sfields {
          color: black;
          font-weight: bold;
          margin: 2px;
          padding: 5px; 
      }


      ul {
         list-style: none;
      }

      li {
          margin: 5px;
          padding: 5px; 
      }
