{% extends "base.html" %}

        {% block title %}
        42-test-jeyzth7
        {% endblock title %}


        {% block extra_head %}
        <link rel="stylesheet"  href="'/static/css/hello.css'" media="screen,  %projection"/>
	<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <link rel="stylesheet"
	href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/smoothness/jquery-ui.css">
	<script
             src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js">
        </script>
        <script>
           $(function() {
               $( ".datepicker" ).datepicker();
           });
        </script>

        {% endblock extra_head %}
        {% block content%}
            <form action="/home/editor" method="post" >
             

             <div id="workspace">
             <h3> 42 Coffee Cups Test Assignment </h3>
             
             {{ form.non_field_errors }}
             <div id="lcolumn">
                  <ul>
                      <li> 
                          {{ form.name.errors }}
                          <label for="id_name">Name:</label> {{ form.name }} </li>
                      <li> 
                          {{ form.surname.errors }}
                          <label for="id_surname">Surname:</label> {{ form.surname }} </li>
                      <li> 
                          {{ form.dateofdird.errors }}
                          <label for="id_dateofbird"> Date of Bird:</label> 
                          {{ form.dateofbird }} </li>
                      <li> Photo:
                          <div id="fotka">
                          </div>
                      
                      </li>
                   </ul>
              </div>

              <div id="rcolumn">
                   <ul>
                       <li>Contacts:</li>
                       <li> {{ form.email.errors }}
                          <label for="id_email"> Email:</label>  {{ form.email }} </li>
                       <li>  {{ form.jabber.errors }}
                          <label for="id_jabber">Jabber:</label>{{ form.jabber }} </li>
                       <li> {{ form.skype.errors }}
                          <label for="id_skype"> Skype: </label> {{ form.skype }} </li>
                      <li>  {{ form.bio.errors }}
                          <label for="id_bio"> Bio:</label>
                          <div id="multiline">{{ form.bio }}</div>
                      </li>

                       <li> {{ form.others.errors }}
                           <label for="id_other">Other contacts:</label>
                           <div id="multiline"> {{ form.others }} </div>
                       </li>
                   </ul>
              </div>
              
              </div>
            </form>

              <div id="footer">
              <a href="/hello/requests10">requests</a>
              <div id="footer">              
{% endblock  %}
