{% extends "base.html" %}

    {% block title %}
      42-test-jeyzth9
    {% endblock title %}

    {% block extra_head %}
         <link rel="stylesheet" href="/static/css/hello.css" media="screen,projection"/>
    {% endblock extra_head %}
        
    {% block content %}

             <div id="workspace">
                <h3> 42 Coffee Cups Test Assignment </h3>
                {% if contact %}
                <div id="lcolumn">
                  <ul>
                      <li> <span id="sfields">{{ contact.name }} </span> </li>
                      <li> <span id="sfields">{{ contact.surname }} </span> </li>
                      <li> <span id="sfields">{{ contact.dateofbird }} </span> </li>
                      <li> 
                          <div id="multiline">Bio:<br>{{ contact.bio|linebreaksbr }}</div>
                      </li>
                   </ul>
                </div>

                <div id="rcolumn">
                   <ul>
                       <li>Contacts:</li>
                       <li> Email:<span id="sfields">  {{ contact.email }} </span> </li>
                       <li> Jabber: <span id="sfields">{{ contact.jabber }} </span> </li>
                       <li> Skype: <span id="sfields"> {{ contact.skype }}</span> </li>
                       <li> 
                           <div id="multiline">Other contacts:<br>{{ contact.others|linebreaksbr }} </div>
                       </li>
                   </ul>
                 </div>
                 
                 {% else %}
                 <h3> Не знайдено жодного запису! </h3>
                 {% endif %}
              </div>
              
              <div id="footer">
              <a href="/hello/requests10" target="_blank">requests</a>
              </div>



    {% endblock content %}
