{% extends "base.html" %}

    {% block title %}
      42-test-jeyzth7
    {% endblock title %}

    {% block extra_head %}
         <link rel="stylesheet" href="/static/css/hello.css" media="screen,projection"/>
    {% endblock extra_head %}
        
    {% block content %}
             {% if contact %}
             <div id="workspace">
             <h3> 42 Coffee Cups Test Assignment </h3>
             <div id="lcolumn">
                  <ul>
                      <li> Name:<span class="sfields">{{ contact.name }} </span> </li>
                      <li> Surname:<span class="sfields">{{ contact.surname }} </span> </li>
                      <li> Date of Bird:<span class="sfields">{{ contact.dateofbird }} </span> </li>
                      <li> Bio:
                          <div id="multiline">{{ contact.bio|linebreaksbr }}</div>
                      </li>
                   </ul>
              </div>

              <div id="rcolumn">
                   <ul>
                       <li>Contacts:</li>
                       <li> Email:<span class="sfields">  {{ contact.email }} </span> </li>
                       <li> Jabber: <span class="sfields">{{ contact.jabber }} </span> </li>
                       <li> Skype: <span class="sfields"> {{ contact.skype }}</span> </li>
                       <li> Other contacts:
                           <div id="multiline"> {{ contact.others|linebreaksbr }} </div>
                       </li>
                   </ul>
              </div>
              
              </div>

              <div id="footer">
              <a href="/hello/requests10">requests</a>
              <div id="footer">              

              {% endif %}

    {% endblock content %}
