{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}Site Name</title>

        <meta http-equiv="X-UA-Compatible" content="chrome=IE7" />

        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen, %projection"/>
        <link rel="stylesheet" href="{% static 'css/requests10.css' %}" media="screen, %projection"/>
        {% block extra_head %}{% endblock extra_head %}

    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
         {% if latest_requests_list %}
              <table>
              <tr>
                  <th>
                      Date Time
                  </th>
                   <th>
                      IP
                  </th>
                  <th>
                      Request
                  </th>
                  <th>
                      Path
                  </th>

              </tr>
              {% for rqst in latest_requests_list %}
              <tr>
                  <td>{{ rqst.query_dt }}</td> 
                  <td>{{ rqst.remote_ip }}</td>
                  <td>{{ rqst.remote_host }}</td> 
                  <td>{{ rqst.query_string }}</td> 
              </tr>
              {% endfor %}
              </table>
         {% else %}
             <p>No requests are avaiable</p>
         {% endif %}
        {% block content %}{% endblock content %}
    </body>
</html>
