{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}Requests log</title>

        <meta http-equiv="X-UA-Compatible" content="chrome=IE7" />

        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen, %projection"/>
        <link rel="stylesheet" href="{% static 'css/requests10.css' %}" media="screen, %projection"/>
        {% block extra_head %}{% endblock extra_head %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript">
        
        </script>
    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
         {% if latest_requests_list %}
        <script type="text/javascript">
            var i = 0;
            var max_pk = {{ max_pk }} ;
            var cnt_req = {{ latest_requests_list|length }};
            var is_focused;
            window.onfocus = function(){
              document.title="Requests log";
              is_focused = true;
            }
            window.onblur = function(){
              is_focused = false;
            }
        </script>
         
              <table id="tbl">
              <tr> 
                  <th> P/k </th>
                  <th> Date Time </th>
                   <th> IP </th>
                  <th> Request </th>
                  <th> Path </th>
              </tr>
              
              {% for rqst in latest_requests_list %}
              <tr id="tr{{ forloop.counter }}">
                  <td id="td{{ forloop.counter }}-1"> {{ rqst.pk }}</td> 
                  <td id="td{{ forloop.counter }}-2"> 
                  {{ rqst.query_dt|date:"d.m.Y H:i:s" }}</td> 
                  <td id="td{{ forloop.counter }}-3">{{ rqst.remote_ip }}</td>
                  <td id="td{{ forloop.counter }}-4">{{ rqst.remote_host }}</td> 
                  <td id="td{{ forloop.counter }}-5">{{ rqst.query_string }}</td> 
              </tr>
              {% endfor %}
              </table>
         {% else %}
             <p>No requests are avaiable</p>
         {% endif %}
        {% block content %}{% endblock content %}
        
        <script type="text/javascript"> 
           setInterval(function()
              {
                     var data_in={"p1":"1","p2":"p2"};   
                      $.getJSON("/hello/chknewreq", data_in, function(data) 
                      {
                          var z = data["cur_max_pk"] - max_pk
                          if (z > 0)
                          {
                              if (! is_focused )
                              document.title="N " + z +" Requests log";
                              var i = 0;
                              for (i=1; i<= cnt_req; i++){
                                  for (j=1; j<5; j++)
                                  { 
                                      key=i+"-"+j
                                      ikey="td"+key
                                      document.getElementById(ikey).innerHTML=
                                      data[key];
                                  }
                              }
                              if (is_focused )
                              max_pk = data["cur_max_pk"] ;
                          }
                          else
                          document.title="Requests log";
                      });
              }
              ,1000);     
        </script>
    </body>
</html>
