{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}N 0</title>

        <meta http-equiv="X-UA-Compatible" content="chrome=IE7" />

        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen, %projection"/>
        <link rel="stylesheet" href="{% static 'css/requests10.css' %}" media="screen, %projection"/>
        {% block extra_head %}{% endblock extra_head %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript">
        
        </script>
    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
         {% if latest_requests_list %}
        <script type="text/javascript">
            var pk_onpage =new Array()  ;
            var i = 0;
        </script>
         
              <table>
              <tr>
                  <th>
                      P/k
                  </th>
                  <th>
                      Date Time
                  </th>
                   <th>
                      IP
                  </th>
                  <th>
                      Request
                  </th>
                  <th>
                      Path
                  </th>

              </tr>
              {% for rqst in latest_requests_list %}
              <script type="text/javascript">
                 pk_onpage[i] = {{ rqst.pk }} ;
                 i = i+ 1;
              </script>

              <tr>
                  <td> {{ rqst.pk }}</td> 
                  <td> {{ rqst.query_dt }}</td> 
                  <td>{{ rqst.remote_ip }}</td>
                  <td>{{ rqst.remote_host }}</td> 
                  <td>{{ rqst.query_string }}</td> 
              </tr>
              {% endfor %}
              </table>
         {% else %}
             <p>No requests are avaiable</p>
         {% endif %}
        {% block content %}{% endblock content %}
        
        <script type="text/javascript"> 
           setInterval(function()
              {
                  $(function() {
                      $.get("/hello/chknewreq", function(data) {
                          //alert(data);
                          var z = data - pk_onpage[0]
                          document.title="N " + z;
                      });
                  });
                  
              }
              ,1000);
                   
        </script>
    </body>
</html>
